* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ///////// Header Css ///////// */

.selling-nav {
    height: 80px;
    width: 100%;
    padding: 10px 0px;
}

.selling-menu-title {
    display: flex;
    align-items: center;
}

.selling-menu-title ul {
    display: flex;
}

.selling-menu-title ul li {
    margin: 0px 15px;
}

.selling-menu-title ul li a {
    padding: 5px 10px 5px 0px;
}

.selling-menu-title ul li:first-child {
    font-weight: 600;
}

.border-active::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: var(--orange);
    transition: width .3s;
}

.border-active {
    display: inline-block;
}

.border-show {
    display: inline-block;
}

.border-show::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--orange);
    transition: width .3s;
}

.border-show:hover::after {
    width: 100%;
}

.right-side-header span {
    height: 5px;
    width: 2px;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    margin: 0px 15px;
}

.right-side-header .customer-care {

    margin-left: 5px;
}


/* ///////////////// main-hero-area Css //////////////// */

.main-hero-area {
    padding-bottom: 100px;
}

.main-hero-details-area {
    padding: 158px 0px;
}

.main-hero-details-area h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 20px;

}

.main-hero-button-area {
    margin-top: 20px;
}

.started-btn {
    padding: 10px 25px;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    border: 1px var(--blue-dark);
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    margin-right: 7px;
}

.contactus-btn {
    padding: 10px 25px;
    border: 1px solid var(--blue-dark);
    border-radius: 25px;
    color: var(--blue-dark);
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    margin-left: 7px;
}


/* ///////////////// working-process-area Css //////////////// */
.working-process-details-area h5 {
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    color: var(--blue-dark);
    margin-bottom: 10px;
    text-align: center;
}

.process-title-area {
    height: 200px;
    width: 200px;
    /* border: 1px solid var(--blue-dark); */
    border-radius: 50%;
    text-align: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    z-index: 2;

}

.flex-property {
    display: flex;
    justify-content: center;
    align-items: center;
}

.process-title-area h1 {
    color: var(--blue-dark);
}

.working-process-mainDetails-area {
    padding: 100px 0px;
}

.working-process-circle-area {
    height: 400px;
    width: 400px;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 50%;
    position: relative;


}

.working-process-childCircle-area {
    position: relative;
    /* left: -50%; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.imgBx {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.process-child1 {
    position: absolute;
    top: -30px;
}

.process-child2 {
    position: absolute;
    left: -35px;
}

.process-child3 {
    position: absolute;
    right: -35px;
}

.process-child4 {
    position: absolute;
    bottom: -50px;
}

.process-child5 {
    position: absolute;
    top: 20px;
    left: 15px;
}

.process-child6 {
    position: absolute;
    top: 20px;
    right: 15px;
}

.process-child7 {
    position: absolute;
    bottom: 15px;
    left: -15px;
}

.process-child8 {
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.process-child-icon {
    height: 60px;
    width: 60px;
    /* background-color: var(--blue-light); */
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.gradient-color {

    background: linear-gradient(to right, var(--orange-dark), var(--orange));
}

.process-child-icon i {
    font-size: 25px;
    color: white;
}

.imgBx p {
    font-weight: 600;
    margin-top: 5px;
}

.process-line1 {
    width: 1px;
    height: 70px;
    border: 1px solid rgb(197, 197, 197);
    position: absolute;
    bottom: -45px;
    z-index: -22;
    opacity: .4;
}

.process-line2 {
    width: 70px;
    height: 1px;
    border: 1px solid rgb(197, 197, 197);
    position: absolute;
    right: -60px;
    bottom: 50px;
    z-index: -22;
    opacity: .4;
}

.process-line3 {
    width: 70px;
    height: 1px;
    border: 1px solid rgb(197, 197, 197);
    position: absolute;
    left: -60px;
    bottom: 50px;
    z-index: -22;
    opacity: .4;
}

.process-line4 {
    width: 1px;
    height: 70px;
    border: 1px solid rgb(197, 197, 197);
    position: absolute;
    top: -65px;
    z-index: -22;
    opacity: .4;
}

.process-line5 {
    width: 1px;
    height: 75px;
    border: 1px solid rgb(197, 197, 197);
    position: absolute;
    transform: rotate(-45deg);
    right: 5px;
    top: 50%;
    z-index: -22;
    opacity: .4;

}

.process-line6 {
    width: 1px;
    height: 80px;
    border: 1px solid rgb(197, 197, 197);
    position: absolute;
    transform: rotate(45deg);
    left: 0px;
    top: 50%;
    z-index: -22;
    opacity: .4;

}

.process-line7 {
    width: 1px;
    height: 75px;
    border: 1px solid rgb(197, 197, 197);
    position: absolute;
    transform: rotate(45deg);
    right: 15px;
    bottom: 60px;
    z-index: -22;
    opacity: .4;

}

.process-line8 {
    width: 1px;
    height: 80px;
    border: 1px solid rgb(197, 197, 197);
    position: absolute;
    transform: rotate(-45deg);
    left: -10px;
    bottom: 50px;
    z-index: -22;
    opacity: .4;

}

.working-process-content-area h3 {
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

/* ///////////////// women-seller-hub-area Css //////////////// */


.women-seller-hub-area {
    padding: 100px 0px;
    /* position: relative; */
}

.women-seller-hub-title h5 {
    font-size: 22px;
    font-weight: 600;
    line-height: 40px;
    color: var(--blue-dark);
    margin-bottom: 20px;
    text-align: center;
}

.women-seller-hub-firstPage {
    height: 350px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;


}

.women-seller-hub-img {
    height: 350px;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.women-seller-hub-img img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    object-position: 0px 40%;

}

.women-seller-hub-detail p {
    font-size: 16px;
    font-weight: 600;
    line-height: 25px;

}

.women-seller-hub-detail h3 {
    color: #d53232;
    font-size: 33px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}

.women-seller-hub-detail span {
    font-size: 14px;
    line-height: 20px;

}

.women-seller-hub-video-icon {
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.women-seller-hub-video-icon i {
    color: white;
    font-size: 14px;
    padding-left: 3px;
    padding-top: 2px;
}

.women-seller-hub-btn {
    padding: 8px 15px;
    border: 1px solid #d53232;
    border-radius: 8px;
    margin-left: 20px;
    background-color: #d53232;
}

.women-seller-hub-secondPage {
    height: 250px;
    width: 100%;
    background-color: rgb(162, 78, 137);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.women-seller-hub-fact {
    display: flex;
    align-items: center;
}

.seller-facts-title {
    display: flex;
    align-items: center;
}

.seller-facts-title i {
    color: #fff;
    font-size: 23px;
    margin-right: 10px;
}

.seller-facts-title h4 {
    color: #fff;
}

.women-seller-hub-childfacts p {
    color: #fff;
    margin-top: 10px;
}

.women-seller-hub-thirdPage {
    padding: 60px 0px;
    background-color: burlywood;
}

.women-seller-hub-process-box {
    background-color: #fff;
    padding: 70px 30px;
}

.women-seller-hub-process {
    display: flex;
    justify-content: center;
}

.stepper1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-left: 10px; */
}

.stepper1 p {
    margin-top: 15px;
}

.step1-icon {
    height: 40px;
    width: 40px;
    background-color: #d53232;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.step1 {
    display: flex;
    align-items: center;
}

.step1 span {
    width: 100px;
    height: 1px;
    border: 1px solid black;
}

.hide-step-line {
    visibility: hidden;
}

.women-seller-hub-mail {
    font-weight: 600;
    margin-top: 30px;
}

.women-seller-hub-mail-mark {
    color: #d53232 !important;
    text-decoration: underline;
}

.women-seller-hub-process-img-box {
    position: relative;
    width: 100%;


}

.seller-process-child-img-box {
    position: absolute;
    /* right: 0px; */
    width: 100%;
    height: 400px;
    bottom: -60px;

    overflow: hidden;

}

.seller-process-child-img-box img {
    position: absolute;
    right: -40%;
    width: 100%;
    height: 400px;
    object-fit: contain;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    overflow: hidden;

}

/* ///////////////// seller-reviews-area Css //////////////// */
.seller-reviews-area {
    overflow: hidden;
}

.seller-reviews-title h3 {
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 15px;
}

.seller-reviews-why-btn {
    padding: 10px 25px;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    border: 1px var(--blue-dark);
    border-radius: 25px;
    color: #fff;
    margin-top: 20px;
}

.seller-reviews-box {
    /* display: flex; */
}

.seller-reviews-childbox {
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 20px;
    border-radius: 8px;
}

.rating-star {
    margin-top: 25px;
    color: var(--orange);
    text-align: center;
}

.seller-reviews-childbox p {
    font-weight: 600;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 25px;
}

.seller-review-learnMore-btn {
    font-weight: 600;
    color: var(--blue-dark);
    text-align: center;

}

.seller-reviews-slider {
    margin-top: 80px;
    margin-bottom: 80px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;

}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    background: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

.seller-img-box {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 20px 0px;
}

.seller-img-box img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.seller-review-detail-slide p {
    margin-top: 45px;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 30px;

}

.seller-review-detail-slide {
    /* padding: 25px; */
    padding: 25px 25px 80px 25px;
}

.seller-review-detail-slide h5 {
    font-size: 18px
}

.seller-review-img-slide {
    /* padding: 25px; */
    width: 100%;
    height: 100%;
}

.seller-review-img-slide div {
    width: 100%;
    height: 100%;
}

.seller-review-img-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ///////////////// start-seller-journy-area Css //////////////// */

.start-seller-journy-details h2 {
    font-weight: 700;
    line-height: 40px;
}

.start-seller-journy-details p {
    margin-top: 15px;
    line-height: 20px;

}

.start-seller-journy-details button {
    margin-top: 30px;
    padding: 8px 20px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
}

.start-seller-journy-details span {
    display: block;
    font-size: 12px;
    margin-top: 5px;
    line-height: 15px;
}

/* ////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////*/

.main-selling-page-area {
    background-color: var(--blue-dark);
    position: relative;
}

.selling-header-page-area {
    padding: 80px 0px;
}

.selling-header-logo-area img {
    height: 80px;
}

.selling-header-menu-area {
    position: absolute;
    height: 100%;
    z-index: 5;
}

.selling-header-menu-area ul .select-list-item {
    margin-top: 15px;
    padding: 0px 5px;
    cursor: pointer;

}

.selling-header-menu-area ul .select-list-item>i {
    color: #fff;
    font-size: 18px;

}

.selling-header-menu-area ul .select-list-item>a {
    color: #fff;
    margin-left: 15px;
    font-size: 17px;
}

.menu-hover-home-page,
.menu-hover-about-page,
.menu-hover-service-page,
.menu-hover-product-page,
.menu-hover-customer-page,
.menu-hover-contact-page {
    background-color: #fff;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 5;
    width: 450px;
    display: none;
    border-radius: 10px;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
}

.home-content-img img {
    height: 100px;
}

.home-content-detail h1 {
    font-size: 30px;
    font-weight: 400;
}

.home-content-detail p {
    font-size: 14px;
    margin-top: 10px;
}

.border-bottom-random {
    border-bottom: 1px solid rgb(115, 115, 115);
}

.home-content-links ul li {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.home-content-childlink {
    font-weight: 600;
    font-size: 17px;
}

.home-content-links ul li:hover .home-content-childlink,
.home-content-links ul li:hover i {
    color: var(--blue-dark);
}

.header-login-btn {
    padding: 8px 35px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange));
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    border: 0;
    margin-top: 15px;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
}

.selling-header-menu-area ul .home-list-item-area:hover .menu-hover-home-page,
.selling-header-menu-area ul .about-list-item-area:hover .menu-hover-about-page,
.selling-header-menu-area ul .service-list-item-area:hover .menu-hover-service-page,
.selling-header-menu-area ul .product-list-item-area:hover .menu-hover-product-page,
.selling-header-menu-area ul .customer-list-item-area:hover .menu-hover-customer-page,
.selling-header-menu-area ul .contact-list-item-area:hover .menu-hover-contact-page {
    display: block;
}



/* ///////////////// selling-mainpage-hero-area Css //////////////// */

.selling-mainpage-hero-area {
    padding-bottom: 100px;
}

.selling-mainpage-hero-details-area h6 {
    font-size: 17px;
    color: var(--blue-light);
    line-height: 25px;
}

.selling-mainpage-hero-details-area h1 {
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    margin-top: 15px;
}

.selling-mainpage-hero-details-area p {
    color: #fff;
    margin-top: 25px;
    line-height: 25px;
}

.selling-mainpage-hero-details-area button {
    padding: 10px 25px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange));
    border-radius: 25px;
    border: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 35px;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
}

.selling-mainpage-hero-details-area button i {
    margin-left: 7px;
    font-size: 16px;
}

.selling-mainpage-hero-img-area {
    height: 100%;
    width: 100%;
}

.selling-mainpage-hero-img-area img {
    height: 100%;
    max-width: 600px;
    object-fit: cover;
}