* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ///////// Header Css ///////// */


/* ////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////
///////////////////////////////////////*/

.main-selling-page-area {
    /* background-color: var(--blue-dark); */
    position: relative;
}

.main-selling-page-area::before {
    content: '';
    position: absolute;
    background-color: var(--blue-dark);
    height: 100%;
    width: 100%;
    z-index: -5;
}

.gradient-effect-hero-area {
    position: relative;
}

.left-corner-effect-area {
    position: absolute;
    top: 0;
    left: 0;
}

.left-corner-effect-area img {
    position: absolute;
    z-index: -3;
    height: 100vh;
    width: 500px;
}

.right-corner-effect-area {
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.right-corner-effect-area img {
    position: absolute;
    z-index: -3;
    height: 100vh;
    width: 500px;
    top: 0;
    right: 0;
    z-index: -1;
}

.selling-header-page-area {
    padding: 80px 0px;
}

.selling-header-logo-area img {
    height: 80px;
}

.selling-header-menu-area {
    position: absolute;
    /* height: 100%; */
    z-index: 5;
}

.selling-header-menu-area ul .select-list-item {
    margin-top: 15px;
    padding: 0px 5px;
    cursor: pointer;

}

.selling-header-menu-area ul .select-list-item>i {
    color: #fff;
    font-size: 18px;

}

.selling-header-menu-area ul .select-list-item>a {
    color: #fff;
    margin-left: 15px;
    font-size: 17px;
}

.menu-hover-home-page,
.menu-hover-about-page,
.menu-hover-service-page,
.menu-hover-product-page,
.menu-hover-customer-page,
.menu-hover-contact-page {
    background-color: #fff;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 5;
    width: 450px;
    display: none;
    border-radius: 10px;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
}

.home-content-img img {
    height: 100px;
}

.home-content-detail h1 {
    font-size: 30px;
    font-weight: 400;
}

.home-content-detail p {
    font-size: 14px;
    margin-top: 10px;
}

.border-bottom-random {
    border-bottom: 1px solid rgb(115, 115, 115);
}

.home-content-links ul li {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.home-content-childlink {
    font-weight: 600;
    font-size: 17px;
}

.home-content-links ul li:hover .home-content-childlink,
.home-content-links ul li:hover i {
    color: var(--blue-dark);
}

.header-login-btn {
    padding: 8px 35px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange));
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    border: 0;
    margin-top: 15px;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
}

.selling-header-menu-area ul .home-list-item-area:hover .menu-hover-home-page,
.selling-header-menu-area ul .about-list-item-area:hover .menu-hover-about-page,
.selling-header-menu-area ul .service-list-item-area:hover .menu-hover-service-page,
.selling-header-menu-area ul .product-list-item-area:hover .menu-hover-product-page,
.selling-header-menu-area ul .customer-list-item-area:hover .menu-hover-customer-page,
.selling-header-menu-area ul .contact-list-item-area:hover .menu-hover-contact-page {
    display: block;
}



/* ///////////////// selling-mainpage-hero-area Css //////////////// */

.selling-mainpage-hero-area {
    padding-bottom: 100px;
}

.selling-mainpage-hero-details-area h6 {
    font-size: 17px;
    color: var(--blue-light);
    line-height: 25px;
}

.selling-mainpage-hero-details-area h1 {
    font-size: 60px;
    font-weight: 100;
    color: #fff;
    margin-top: 15px;
}

.selling-mainpage-hero-details-area p {
    color: #fff;
    margin-top: 25px;
    line-height: 25px;
}

.selling-mainpage-hero-details-area button {
    padding: 10px 25px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange));
    border-radius: 25px;
    border: 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-top: 35px;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
}

.selling-mainpage-hero-details-area button i {
    margin-left: 7px;
    font-size: 16px;
}

.selling-mainpage-hero-img-area {
    height: 100%;
    width: 100%;
}

.selling-mainpage-hero-img-area img {
    height: 100%;
    max-width: 600px;
    object-fit: cover;
}

/* ///////////////// dhiyodha-family-page-area Css //////////////// */

.dhiyodha-family-page-area {
    padding: 100px 0px;

}

.border-family-page {
    /* border: 1px solid #4b78ff; */
    border-radius: 10px;
    background-color: #1a3073;
}

.dhiyodha-family-title {
    text-align: center;

    padding-bottom: 10px;
}

.dhiyodha-family-title>h1 {
    color: #fff;
}

.dhiyodha-family-title>p {
    color: #fff;
    margin-top: 15px;
}

.dhiyodha-family-details {
    margin-top: 60px;
    padding: 80px 20px;
    /* border: 1px solid #7491e8; */
    border-radius: 10px;
    position: relative;
    z-index: 5;
    /* box-shadow: rgba(0, 0, 0, 0.45) 0px 20px 15px -20px; */
}

/* ///////////////// dhiyodha-start-your-product Css //////////////// */
.dhiyodha-start-your-product {
    padding-bottom: 100px;
    padding-top: 50px;
    position: relative;
    height: 100%;
    width: 100%;
 
}

.start-your-product-area {
    /* background-color: #28469dd1; */
    background-color: #1a2273;

    /* border: 1px solid #4f69b5; */
    border-radius: 20px;
    padding-bottom: 30px;
}
.start-your-product-title {
    color: #fff;
    padding-top: 70px;
}

.dhiyodha-video-details {
    /* background-color: #1a3073; */
    padding: 60px 40px;
   
    /* border: 1px solid #1a3073; */
    border-radius: 0px 10px 10px 10px;
    display: flex;
    justify-content: center;
    row-gap: 50px;
    align-items: center;
}

.dhiyodha-product-video {
   
    /* padding: 30px; */
    position: relative;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* border: 1px solid black; */
}
.dhiyodha-product-video::before{
    content: '';
    position: absolute;
    background-color: #acc2ff;
    /* border: 1px solid #4f69b5; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    width: 100%;
    height: 100%;
    bottom: 4%;
    right: 2%;
    opacity: 0.1;

}

.dhiyodha-product-video video {
    width: 100%;
    border: 3px solid #152963;
    border-radius: 5px;

}

.product-video-content {
    padding: 20px 0px 20px 60px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.product-video-content>h1 {
    color: #fff;
    font-size: 35px;
    line-height: 50px;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(#0c52e5, #099cd3,#38bf9b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.product-video-content p {
    color: #fff;
    font-size: 18px;

}

.product-video-content .product-brand-logo {
    height: 80px;
    width: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.product-video-content .product-brand-logo img {
    height: 50px;
    width: 50px;
    margin-left: 5px;

}

.product-tebular-btn {
    border: 2px solid #5660c7;
    width: 100%;
    border-radius: 30px;
    background-color:#1a2273;
    box-shadow: rgb(12, 31, 78) 0px 3px 8px;
    position: relative;
    transition: 0.5s;
}
.product-tebular-btn:hover{
    box-shadow: 0 0 8px #5a38ff;
    border: 2px solid #5a38ff;
    
}
.product-tebular-btn-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 8px 0px;
    border-radius: 30px;
    max-width: 100%;
    position: relative;
}
.product-tebular-btn-box::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #1a2273;
    top: -2px;
    left: 85%;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
    
}
.product-tebular-btn:hover .product-tebular-btn-box::before {
    width: 30px;
    left: 15%;
}
.product-tebular-btn-box::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 20px;
    background-color: #1a2273;
    bottom: -2px;
    right: 85%;  
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}
.product-tebular-btn:hover .product-tebular-btn-box::after {
    width: 30px;
    right: 15%;
}
.product-tebular-btn button {
    background-color:#1a2273;
    color: white;
    padding: 5px 14px;
    border-radius: 22px;
    background-repeat: no-repeat;
    
    margin: 2px;
    border: 0;
    /* border: 1px solid white; */
    transition: all 1s ease-in;
}
.product-tebular-btn button:hover{

    box-shadow: inset 12rem 0 0 0 var(--blue-light);
}

.product-tebular-btn button:first-child {
    background-image: linear-gradient(to right, #0c52e5, #099cd3, #38bf9b);

}



.video-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    /* background-color: black; */
}

.video-container.theater,
.video-container.full-screen {
    max-width: initial;
    width: 100%;
}

.video-container.theater {
    max-height: 90vh;
}

.video-container.full-screen {
    max-height: 100vh;
}

video {
    width: 100%;
}

.video-controls-container {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
    z-index: 100;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container::before {
    content: "";
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
    width: 100%;
    aspect-ratio: 6 / 1;
    z-index: -1;
    pointer-events: none;
}

.video-container:hover .video-controls-container,
.video-container:focus-within .video-controls-container,
.video-container.paused .video-controls-container {
    opacity: 1;
}

.video-controls-container .controls {
    display: flex;
    gap: .5rem;
    padding: .25rem;
    align-items: center;
}

.video-controls-container .controls button {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    height: 30px;
    width: 30px;
    font-size: 1.1rem;
    cursor: pointer;
    opacity: .85;
    transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
    opacity: 1;
}

.video-container.paused .pause-icon {
    display: none;
}

.video-container:not(.paused) .play-icon {
    display: none;
}

.video-container.theater .tall {
    display: none;
}

.video-container:not(.theater) .wide {
    display: none;
}

.video-container.full-screen .open {
    display: none;
}

.video-container:not(.full-screen) .close {
    display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
    display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
    display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
    display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
    display: block;
}

.volume-container {
    display: flex;
    align-items: center;
}

/* .volume-slider {
    width: 0;
    transform-origin: left;
    transform: scaleX(0);

    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  }
  
  .volume-container:hover .volume-slider,
  .volume-slider:focus-within {
    width: 100px;
   
    transform: rotate(-90deg);
  } */

.duration-container {
    display: flex;
    align-items: center;
    /* justify-content: ; */
    margin-left: 10px;
    gap: .25rem;
    /* flex-grow: 1; */
}

.video-container.captions .captions-btn {
    border-bottom: 3px solid red;
}

.video-controls-container .controls button.wide-btn {
    width: 100%;
}

.timeline-container {
    height: 7px;
    margin-inline: .5rem;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.timeline {
    background-color: rgba(100, 100, 100, .5);
    height: 3px;
    width: 100%;
    position: relative
}

.timeline::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--preview-position) * 100%);
    background-color: rgb(150, 150, 150);
    display: none;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: red;
}

.timeline .thumb-indicator {
    --scale: 0;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: calc(var(--progress-position) * 100%);
    background-color: red;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
}

.timeline .preview-img {
    position: absolute;
    height: 80px;
    aspect-ratio: 16 / 9;
    top: -1rem;
    transform: translate(-50%, -100%);
    left: calc(var(--preview-position) * 100%);
    border-radius: .25rem;
    border: 2px solid white;
    display: none;
}

.thumbnail-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.video-container.scrubbing .thumbnail-img {
    display: block;
}

.video-container.scrubbing .preview-img,
.timeline-container:hover .preview-img {
    display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
    display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
    --scale: 1;
}

.video-container.scrubbing .timeline,
.timeline-container:hover .timeline {
    height: 100%;
}

.controls {
    position: relative;
}

.settings-menu {
    position: absolute;
    background-color: rgb(0 0 0 / 95%);
    border-radius: 10px;
    width: 80%;
    bottom: 110%;
    /* height: 150px;
   overflow-y: scroll; */
    right: 5%;

}

.speed-btn,
.quality-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.speed-btn span,
.quality-btn span {

    padding: 10px 10px;
}

.playback-speed-menu div,
.quality-menu .quality-option {
    width: 100%;
    height: 100%;
    padding: 4px 10px;
    cursor: pointer;
}

.playback-speed-menu div:hover {
    background-color: #363636;
}

.quality-menu .quality-option:hover {
    background-color: #363636;
}

.back-btn-style {
    padding: 4px 10px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.back-btn-style .back-btn {
    width: 100%;
}

.back-btn-style:hover {
    background-color: #363636;
}

.volume-container {
    position: relative;
}
.volume-slider-box {
    display: none;
}
.volume-slider-childbox {
    position: absolute;
    left: -150%;
    top: -260%;
    transform: rotate(-90deg);
    background-color: black;
    display: flex;
    height: 25px;
    padding: 15px 10px;
    border-radius: 3px;
    align-items: center;
    cursor: pointer;
    transition: width 150ms ease-in-out, transform 150ms ease-in-out;
}
.volume-container:hover .volume-slider-box{
    display: block;
}
.volume-container input[type=range]{
    -webkit-appearance: none; 
    width: 100px;
    border-radius: 3px;
}
.volume-container input[type=range]::-webkit-slider-runnable-track {
    /* width: 200px ; */
    height: 4px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
.volume-container input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -4px;
}
.volume-container input[type=range]:focus {
    outline: none;
}
.volume-container input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

.video-rightside-controls {
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 2%;
    top: 2%;
    z-index: 2;

}

.video-rightside-controls .control-button {
    background-color: black;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;

}

.play-pause-btn,
.play-play-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
}

.play-pause-btn i,
.play-play-btn i {
    background-color: black;
    padding: 7px 14px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 14px;

}

.video-bottom-control {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2px;
    border-radius: 5px;
    gap: 5px;
    width: 100%;
    /* font-size: 12px; */
}

.mute-btn i {
    padding: 10px 0px;
}

.mute-btn i,
.full-screen-btn i {
    font-size: 14px;
}

.setting-btn svg,
.mini-player-btn svg {
    font-size: 18px;
}

.video-title-control {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    left: 2%;
    top: 2%;
}

.video-logo-control {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-logo-control img {
    height: 20px;
    width: 20px;
}

.video-childtitle-control {
    background-color: #000000c4;
    padding: 3px 10px 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
}

.video-childtitle-control h3 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

/* //////////// how-does-dhiyodha-work-area /////////////// */

.how-does-dhiyodha-work-area{
    position: relative;
}
.dhiyodha-work-title h1{
    text-align: center;
    color: #fff;
}
.dhiyodha-work-title p{
    text-align: center;
    color: #fff;
    margin-top: 15px;
}
.work-area-main-box {
    padding: 80px 0px;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.charted-box2-area{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-right: 40px;
}
.charted-box1-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
}
.charted-box3-area{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-right: 35px;
}
.flow-start-area {
    color: #fff;
    text-align: center;
}
.flow-start-area i {
    background: -webkit-linear-gradient( #099cd3,#38bf9b,#099cd3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.flow-end-area {
    color: #fff;
    text-align: center;
    position: relative;
    padding: 28px 10px;
    height: 100%;
}
.flow-end-area i {
    background: -webkit-linear-gradient( #099cd3,#38bf9b,#099cd3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 25px;
}
.flow-end-area::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 3px;
    background: linear-gradient(to bottom, var(--orange-dark), var(--orange),var(--orange));
    left: 50%;
    bottom: -100%;
    z-index: -2;
}
.flow-box-style {
    color: #fff;
    width: 150px;
    /* border: 1px solid black;☺ */
    text-align: center;
    padding: 30px 20px;
    background-color: #113290 !important;
    background: transparent;
    border-radius: 3px;
    
}
.fourth-chartedlayout4-box3 {
    color: #fff;
    text-align: center;
    padding: 30px 20px;
    border-radius: 3px;
    background: linear-gradient(to right bottom, #0c62e1, #0998d4, #33bba1) !important;
}
.middle-chartedlayout-box {
    height: 100%;
    padding: 40px 60px;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: row;
    gap: 20px;
    position: relative;
    background-color: #113290 ;
    color: #fff;
    text-align: center;
    /* max-width: 100%; */
}
.middle-chartedlayout-box::before{
    content: '';
    position: absolute;
    width: 14%;
    height: 3px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange),var(--orange));
    top: 50%;
    left:-14%;
    z-index: -2;
}
.middle-chartedlayout-box::after{
    content: '';
    position: absolute;
    width: 14%;
    height: 3px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange),var(--orange));
    top: 50%;
    right:-15%;
    z-index: -2;
    
}
.charted-flow-video-box {
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    border-style: dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-animation-name: ripple;
    animation-name: ripple;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
   

}
@keyframes ripple {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(117, 218, 180, .3), 0 0 0 0 rgba(117, 218, 180, .5);
        box-shadow: 0 0 0 0 rgba(117, 218, 180, .3), 0 0 0 0 rgba(117, 218, 180, .5)
    }
  
    80% {
        -webkit-box-shadow: 0 0 0 20px #fff0, 0 0 0 40px #fff0;
        box-shadow: 0 0 0 20px #fff0, 0 0 0 40px #fff0
    }
  
    100% {
        -webkit-box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0;
        box-shadow: 0 0 0 0 #fff0, 0 0 0 0 #fff0
    }
  }
.charted-flow-video-box .charted-flow-video {
    font-size: 40px;
}



.first-chartedlayout2-box2,
.middle-chartedlayout2-box2,
.third-chartedlayout2-box2,
.fourth-chartedlayout2-box2,
.first-chartedlayout3-box3,
.middle-chartedlayout3-box3,
.third-chartedlayout3-box3,
.fourth-chartedlayout3-box3 {
    color: #fff;
    padding: 3px 10px;
    /* border: 1px solid black; */
    background-color: #223f93;
}
.first-chartedlayout2-box2,
.middle-chartedlayout2-box2,
.third-chartedlayout2-box2,
.fourth-chartedlayout2-box2{
    height: 100%;
    position: relative;
    background-image: linear-gradient(to right, #0c52e5, #099cd3, #38bf9b);
    border-radius: 20px;
}
.first-chartedlayout2-box2::before,
.middle-chartedlayout2-box2::before,
.third-chartedlayout2-box2::before,
.fourth-chartedlayout2-box2::before{
    content: '';
    position: absolute;
    width: 3px !important;
    height: 100px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange),var(--orange));
    left: 50%;
    bottom: -100px;
    z-index: -2;
}
.first-chartedlayout3-box3,
.middle-chartedlayout3-box3,
.third-chartedlayout3-box3,
.fourth-chartedlayout3-box3 {
    height: 100%;
    position: relative;
    background-image: linear-gradient(to right, #0c52e5, #099cd3, #38bf9b);
    border-radius: 20px;
}
.first-chartedlayout3-box3::before,
.middle-chartedlayout3-box3::before,
.third-chartedlayout3-box3::before,
.fourth-chartedlayout3-box3::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange),var(--orange));
    left: 50%;
    top: -100px;
    z-index: -2;
}
.user-business-flow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 20px;
}
.fourth-chartedlayout4-box2,
.fourth-chartedlayout4-box3,
.fourth-chartedlayout4-box4,
.fourth-chartedlayout4-box5{
    position: relative;
    height: 100%;
}
.fourth-chartedlayout4-box5::before {
    content: '';
    position: absolute;
    width: 30%;
    height: 3px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange),var(--orange));
    top: 50%;
    left: -32%;
    z-index: -2;
    
}
.fourth-chartedlayout4-box4::before {
    content: '';
    position: absolute;
    width: 23%;
    height: 3px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange),var(--orange));
    top: 50%;
    left: -25%;
    z-index: -2;
    
}
.fourth-chartedlayout4-box3::before {
    content: '';
    position: absolute;
    width: 26%;
    height: 3px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange),var(--orange));
    top: 50%;
    left: -28%;
    z-index: -2;
    
}
.fourth-chartedlayout4-box2::before {
    content: '';
    position: absolute;
    width: 33%;
    height: 3px;
    background: linear-gradient(to right, var(--orange-dark), var(--orange),var(--orange));
    top: 50%;
    left: -35%;
    z-index: -2;
    
}
.first-chartedlayout-box,.third-chartedlayout-box{
    color: #fff;
    text-align: center;
    width: 150px;
    padding: 30px 20px;
    background: linear-gradient(to right bottom, #0c62e1, #0998d4, #33bba1) !important;
    background: transparent;
    border-radius: 3px;
    
}

.register-icon-imgbg,.audit-icon-imgbg , .dhiyodhafamily-icon-imgbg{
    background-color:#223f93;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 8px;
}
.businessCard-icon-imgbg,
.productService-icon-imgbg,
.earnMoney-icon-imgbg,
.dhiyodhaBank-icon-imgbg{
    background-color:#223f93;
    padding: 10px 5px;
    margin-top: 10px;
    border-radius: 8px;
}
.flow-chart-gradient-orange {
    background: linear-gradient(to right bottom, #49b0fd, #35c9ff, #3ed0a9);
    /* background: linear-gradient(to right, var(--orange-dark), var(--orange),var(--orange)); */   
    padding: 3px;
    border-radius: 3px;
    box-shadow: rgb(21 42 104) 0px 0px 8px;
    
}
.flow-chart-gradient-bluelight{
    box-shadow: rgb(21 42 104) 0px 0px 8px;
    padding: 3px;
    border-radius: 3px;
    background-color: #49b0fd;
}
.flow-chart-gradient-orangelight {
    background-color: #3ed0a9;
    /* background-color: #2faa89; */
    box-shadow: rgb(21 42 104) 0px 0px 8px;
    padding: 3px;
    border-radius: 3px;
}
.flow-chart-gradient-blue{
    padding: 3px;
    background: linear-gradient(to right bottom, #49b0fd, #35c9ff, #3ed0a9);
    box-shadow: rgb(21 42 104) 0px 0px 8px;
    border-radius: 3px;
}

/* //////////////////// dhiyodha-sellingpage-reviews-area  //////////////////////////// */

.dhiyodha-sellingpage-reviews {
    padding: 100px 0px;
}
.reviews-carousel-slider {
    padding: 50px 0px;
    margin-top: 30px;
    position: relative;
}
.swiper-slide {
    background: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #0998d4;
    position: relative;
    width: 100%;
}
.swiper-slide::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(179.91deg,rgba(92,59,254,0) .08%,rgb(9 152 212 / 64%) 97.01%);
    z-index: 4;

}

.swiper-slide img {
    display: block;
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
   
    
}
.testimonial-reviews-inform {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 4;
}
.testimonial-reviws-play {
    color: #fff;
    position: absolute;
    font-size: 70px;
    font-weight: 400;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.testimonial-review-desc {
    display: flex;
    width: 100%;
    color: #fff;
    position: absolute;
    bottom: 10%;
    justify-content: space-around;
}
.pagination-slide {
    margin-bottom: 45px;
}
.pagination-slide span {
    color: #fff;
    

}
.swiper-paginations {
    font-size: 22px; 
    padding: 0px 10px;
    font-weight: 600;
}
.swiper-pagination-current{
    font-size: 26px !important;
}
