* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--black);
}

body,
html {
    width: 100%;
    height: 100%;
}

:root {
    --black: #000;
    --blue-dark: #223f93;
    --blue-light: #4bc2ec;
    --orange: #f56016;
    --orange-dark: #ed3337;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 1;

}

p {
    padding: 0;
    margin: 0;
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    position: relative;
    z-index: 1;

}

video,
iframe,
img {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-80 {
    margin-top: 80px;
}

/* ///////// Navbar Css ///////// */

.home-nav {
    padding: 15px 20px;
    height: auto;
    width: 100%;
    /* border-bottom: 1px solid rgba(3, 44, 110, 0.2);
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px; */
}

.menu-title .selling-btn {
    padding: 10px 25px;
    border: 0px;
    border-radius: 25px;
    font-weight: 600;
    color: var(--blue-dark);
    background-color: #fff;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
    /* background: linear-gradient(to right, var(--blue-dark), var(--blue-light)); */
}

/* ///////// Hero Css ///////// */

.hero-area {

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-btn {
    float: right;
    padding: 20px 0px;
}

.signup-btn button {
    padding: 8px 15px;
    border: 0px;
    border-radius: 25px;
    margin-right: 40px;
    margin-bottom: 40px;
    clear: both;
    font-weight: 600;
    color: var(--blue-dark);
    background-color: #fff;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
}

.hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-logo img {
    background-color: transparent;
    height: 200px;
    border: none;
    background-image: radial-gradient(circle, #0b4a7c 10%, transparent, transparent)
}

.hero-searchbar input {
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
    background-color: transparent;
}

.hero-searchbar input::placeholder {
    color: #fff;
}

.hero-searchbar button {
    border-radius: 20px;
    font-weight: 600;
    color: var(--blue-dark);
    border: 1px solid white;
    background-color: #fff;
    box-shadow: rgba(3, 44, 110, 0.2) 0px 7px 7px 0px;
}

.hero-searchbar button:hover {
    color: white;
    background-color: var(--blue-light) !important;
}

/* //////////////////////////////////////////////////////// */
.new-hero-page-area {
    height: 100vh;
    width: 100%;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    background: linear-gradient(to right, #0c2263, #2899c2);
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.hero-svg-leftcorner {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -3;
}

.hero-svg-leftcorner svg {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
    z-index: -3;
}

.hero-svg-rightcorner {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -3;

}

.hero-svg-rightcorner svg {
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0.1;
    z-index: -3;
}

/* ////////////////////////////////////////////////////////////////////// */