* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

body,
html {
    width: 100%;
    height: 100%;
}

:root {
    --black: #000;
    --blue-dark: #223f93;
    --blue-light: #4bc2ec;
    --orange: #f56016;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    position: relative;
    z-index: 1;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    z-index: 1;

}

p {
    padding: 0;
    margin: 0;
    font-style: normal;
    line-height: 1.5;
    font-weight: 400;
    font-size: 16px;
    color: var(--black);
    position: relative;
    z-index: 1;

}

video,
iframe,
img {
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-80 {
    margin-top: 80px;
}

/* ///////// Navbar Css ///////// */

.home-nav {
    padding: 15px 20px;
    height: auto;
    width: 100%;
    border-bottom: 1px solid rgb(232, 229, 229);
    box-shadow: rgba(214, 220, 222, 0.2) 0px 7px 7px 0px;
    /* box-shadow: rgba(137, 147, 150, 0.2) 0px 7px 20px 0px; */
}

.menu-title .selling-btn {
    padding: 10px 25px;
    border: 0px;
    border-radius: 25px;
    color: #fff;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
}

/* ///////// Hero Css ///////// */

.hero-area {

    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-btn {
    float: right;
    padding: 20px 0px;
}

.signup-btn button {
    padding: 8px 15px;
    border: 0px;
    border-radius: 25px;
    margin-right: 40px;
    margin-bottom: 40px;
    clear: both;
    color: #fff;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
}

.hero-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-searchbar input {
    border-radius: 20px;
}

.hero-searchbar button {
    border-radius: 20px;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    color: #fff;
    border: var(--blue-dark);
}

.hero-searchbar button:hover {
    color: white;
    background-color: var(--blue-light) !important;
}

.shortcut-icons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.product-design {
    margin: 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-design p {
    font-size: 16px;
    font-weight: 600;
}

.product1 {
    height: 60px;
    width: 60px;
    background-color: #eeeff1;
    /* border: 1px solid gray; */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product1 img {
    height: 40px;
    width: 40px;
}

/* ///////////////// main-hero-area Css //////////////// */
/* .main-hero-area {
    padding: 100px 0px;
}

.main-heading h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 1.3;
}

.main-heading h1 span {
    color: var(--orange);
}

.main-heading p {
    margin-top: 20px;
}

.main-heading button {
    margin-top: 30px;
    padding: 8px 20px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
} */

/* ///////////////// main-services-area Css //////////////// */

/* .service-box {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.service-box i {
    font-size: 35px;
    padding: 15px 0px;
    color: var(--orange);
}

.service-box h4 {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.service-box p {
    margin-top: 10px;
    text-align: center;
} */

/* ///////////////// main-products-area Css //////////////// */

/* .main-products-area {
    padding: 100px 0px;
}

.sec-title {
    text-align: center;
}

.sec-title h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.3;
}

.sec-title p {
    margin-top: 15px;
}

.product-box {
    margin: 30px 20px 0px 20px;
    padding: 20px 10px;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.product-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-img_img {
    height: 200px;
    width: 200px;
    background-color: #c7e5f0;
}

.product-box p {
    margin-top: 10px;
    font-weight: 700;
}

.product-price {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.product-price P,
.product-price span {
    color: var(--orange);
}

.product-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.addCart-btn {
    padding: 5px 15px;
    background: linear-gradient(to right, var(--blue-dark), var(--blue-light));
    border: 1px var(--blue-dark);
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.buyItem-btn {
    padding: 5px 15px;
    border: 1px solid var(--blue-dark);
    border-radius: 25px;
    color: var(--blue-dark);
    font-size: 14px;
    font-weight: 600;
} */

/* ///////////////// main-about-area Css //////////////// */

/* .main-about-content h6 {
    color: var(--orange);
    font-weight: 700;
}

.main-about-content h2 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 10px;
    line-height: 1.5;
}

.main-about-content>p {
    margin-top: 10px;
}

.about-important-point {
    margin-top: 10px;
}

.points {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.points span i {
    color: var(--orange);
    font-size: 20px;
}

.points p {
    margin-left: 10px;
    font-size: 14px;
    font-weight: 600;
    color: #000;

}

.main-about-content button {
    padding: 5px 20px;
    border: 1px solid var(--blue-dark);
    border-radius: 25px;
    background: transparent;
    color: var(--blue-dark);
    margin-top: 15px;
    font-weight: 600;
} */

/* ///////////////// main-choose-area Css //////////////// */
/* .main-choose-area {
    display: block;
    padding: 100px 0px;

}

.main-choose-content h6 {
    color: var(--orange);
    font-weight: 700;
}

.main-choose-content h2 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 10px;
    line-height: 1.5;
}

.main-choose-content>p {
    margin-top: 10px;
}

.choose-important-point {
    margin-top: 10px;
} */

/* ///////////////// main-offer-area Css //////////////// */

/* .offer-content h5 {
    font-weight: 600;
    font-size: 18px;
    color: var(--orange);
    text-align: center;
}

.offer-content h2 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
}

.offer-content p {
    text-align: center;
    margin-top: 10px;
}

.offer-boxes {
    height: 200px;
    background-color: aquamarine;
    border-radius: 10px;
} */

/* ///////////////// product-demo-area Css //////////////// */
/* 
.product-demo-area {
    display: block;
    padding: 180px 0px 100px 0px;
    position: relative;
    height: auto;
    width: 100%;
}

.product-demo-area::before {
    content: '';
    position: absolute;
    height: 440px;
    width: 100%;
    z-index: -2;
    background-color: rgb(9, 210, 143);
}

.product-demo-content {
    padding: 80px 0px;
    color: #fff;
}

.product-demo-content h5 {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
}

.product-demo-content h2 {
    font-weight: 700;
    font-size: 28px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
}

.product-demo-content p {
    text-align: center;
    margin-top: 10px;
    color: #fff;
}

.product-demo-video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.demo-video-box {
    height: 300px;
    width: 550px;
    background-color: #4bc2ec;
} */

/* ///////////////// testimonal-area Css //////////////// */
/* 
.testimonal-area {
    padding: 60px 0px;
    background-color: #f8f8f8;
}

.testimonial-slider i {
    color: #000;
    font-size: 50px;
}

.swiper {
    width: 100%;
    height: 100%;
    padding: 60px 0px;
    border-radius: 10px;

}

.swiper-slide {
    font-size: 18px;
    background: #ffffff;
    padding: 20px;
    height: 100%;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;

}

.swiper-slide img {
    display: block;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.testimonial-info {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.testimonial-title {
    margin-left: 15px;
} */

/* ///////////////// footer-area Css //////////////// */
/* 
.footer-area {
    padding: 60px 0px 40px 0px;
    background-color: #223f93;
}

.footer-details h3 {
    color: #fff;
}

.footer-info {
    margin-top: 25px;
    color: #fff;
}

.footer-info p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;


}

.footer-info ul li {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

.footer-info ul li:hover {
    color: var(--blue-light);
}

.footer-icons {
    display: flex;
    padding-top: 10px;

}

.foot-icon {
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    cursor: pointer;
}

.foot-icon:hover {
    background-color: #fff;
    color: #223f93;
} */